/*
COLOR PALLETE

Dark green #3c8453
Sandy Beige #bcaa96
Dark gray #222
light gray #d3d4d6
off-white #f4f4f4
*/

/*
POSSIBLE BREAKPOINTS

500px
650px
*/

/* GLOBAL STYLES
-------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body{
	background: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	line-height: 1.6em;
	margin: 0;
}

p {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 6rem;
	line-height: 1.15;
}

h2 {
	font-size: 3.1rem;
}

h3 {
	font-size: 2rem;
}

/* links */
a {
	color: #3c8453;
}

a:hover {
	color: #bcaa96;
	text-decoration: none;
}

footer a {
	color: #bcaa96;
}

footer a:hover {
	color: #3c8453;
}

.btn {
	background: #3c8453;
	color: #f4f4f4;
	text-decoration: none;
	padding: 3px 10px;
	text-transform: uppercase;
	font-size: 1.3rem;
	display: inline-block;
	padding: 5px;
	letter-spacing: .1em;
	line-height: 1;
	border-radius: 4px;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 1080px;
	padding: 35px;
}

/* HEADER
-------------------------------------------------*/
.main-header {
  background: #222;
	padding: 0 20px;
}

.main-header ul {
  display: flex;
  gap: 16px;
  padding: 15px;
  margin: 0;
  align-items: baseline;
}

header ul {
  list-style: none;
}

header ul a{
  text-decoration: none;
	color: #d3d4d6;
}

header ul h3 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 100;
}

.home-h3 {
  font-size: 32px;
  font-weight: 500;
}

/* HOME
-------------------------------------------------*/
.home {
	background: url(../img/bg-home-office-city.jpg) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.home .content-wrapper {
	flex: 1 0 auto;
}

.content-bg {
	background: rgb(255 255 255 / 0.9);
	padding: 30px;
}

@media screen and (max-width:650px) {
	.home .content-wrapper {
		padding: 10px;
	}

	.content-bg {
		padding: 20px;
	}
}

/* RESUME
-------------------------------------------------*/
.resume .content-header::before {
	background: url(../img/bg-home-office-city.jpg) center;
	background-size: cover;
	content: "";
	display: block;
	height: 390px;
}

.resume-section {
	margin-bottom: 50px;
}

.resume-header {
	border-bottom: 2px dashed #d3d4d6;
	padding-bottom: 12px;
}

.download-link {
	position: fixed;
	top: 8px;
	right: 8px;
	font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
	.download-link {
		position: absolute;
    top: 60px;
	}
}

@media screen and (max-width:500px) {
	.resume header::before{
		height: 200px;
	}

	h1 {
		font-size: 5.4rem;
	}

	h2 {
		font-size: 2.4rem;
	}
}

/* Projects
-------------------------------------------------*/
.project-item {
	margin: 30px 0;
}

.project-item img {
	width: 300px;
	margin-bottom: 15px;
}

@media screen and (min-width:860px) {
	.project-item {
		display: flow-root;
	}

	.project-item img {
		float: left;
		margin-right: 20px;
	}
}

@media screen and (min-width:650px) and (max-width:859px) {
	.project-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 30px;
	}

	.project-item img {
		width: 100%;
		margin-bottom: 25px;
	}
}

@media screen and (max-width:500px) {
	.project-item img {
		width: 100%;
		margin-bottom: 10px;
	}
}
/* Work Experience
-------------------------------------------------*/
.work-item {
	margin: 30px 0;
}

.work-par {
	font-weight: bolder;
}

.work-details p{
	margin: 0;
}

@media screen and (min-width:860px){
	.work-item {
		display: grid;
		grid-template-columns: 300px 1fr;
		column-gap: 20px;
	}

	.work-summary p:first-child{
		margin-top: 0;
	}
}

/* Education
-------------------------------------------------*/
.education-item {
	margin: 30px 0;
}

.education-item p {
	margin: 0;
}

/* VIDEOS
-------------------------------------------------*/
body.videos {
  display: flex;
	flex-direction: column;
}

.videos-wrapper {
  flex: 1;
  display: grid;
  padding: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.video-card {
  background-color: #fff;
  padding: 25px 15px;
  border-radius: 4px;
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.video-card a {
  text-decoration: none;
}

.video-card img {
  max-width: 270px;
}

/* FOOTER
-------------------------------------------------*/
footer {
	background: #222;
	color: #d3d4d6;
	padding: 0 20px;
}

/* footer p {
	padding: 8px 0;
} */

.socials {
	list-style-type: none;
	padding: 0;
}

.socials li {
	align-self: center;
	display: inline-block;
	margin-left: 10px;
	padding-top: 6px;
}

.socials img {
	width: 32px;
}

.socials img:hover {
	opacity: 0.5;
}

@media screen and (min-width:560px) {
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (max-width:559px) {
	footer {
		text-align: center;
		padding: 10px;
	}
}