/*
COLOR PALLETE

Dark green #3c8453
Sandy Beige #bcaa96
Dark gray #222
light gray #d3d4d6
off-white #f4f4f4
*/

/* GLOBAL STYLES
-------------------------------------------------*/
html {
	box-sizing: border-box;
}

*, *:before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body{
	background: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

/* links */
a {
	color: #3c8453;
}

a:hover {
	color: #bcaa96;
	text-decoration: none;
}

footer a {
	color: #bcaa96;
}

footer a:hover {
	color: #3c8453;
}

.btn {
	background: #3c8453;
	color: #f4f4f4;
	text-decoration: none;
	padding: 3px 10px;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 1080px;
	padding: 35px;
}

/* HOME
-------------------------------------------------*/
.home {
	background: url(../img/bg-home-office-city.jpg) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.home .content-wrapper {
	flex: 1 0 auto;
}

.content-bg {
	background: rgb(255 255 255 / 0.9);
	padding: 30px;
}

/* RESUME
-------------------------------------------------*/
.resume header::before {
	background: url(../img/bg-home-office-city.jpg) center;
	background-size: cover;
	content: "";
	display: block;
	height: 390px;
}

.resume-section {
	margin-bottom: 50px;
}

.resume-section h2 {
	border-bottom: 2px dashed #d3d4d6;
}

.download-link {
	position: fixed;
	top: 8px;
	left: 8px;
}

.resume main {
	font-size: 19px;
}

.resume main p {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 17px;
}
/* Profile
-------------------------------------------------*/


/* Projects
-------------------------------------------------*/
.project-item {
	display: flow-root;
	margin: 30px 0;
}

.project-item img {
	width: 300px;
	float: left;
	margin-right: 20px;
}


/* Work Experience
-------------------------------------------------*/
.work-item {
	display: grid;
	grid-template-columns: 300px 1fr;
	column-gap: 20px;
}


/* Education
-------------------------------------------------*/


/* FOOTER
-------------------------------------------------*/
footer {
	background: #222;
	color: #d3d4d6;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

footer p {
	padding: 8px 0;
}

.socials {
	list-style-type: none;
	padding: 0;
}

.socials li {
	display: inline-block;
	margin-left: 10px;
}

.socials img {
	width: 32px;
}

.socials img:hover {
	opacity: 0.5;
}

