/*
COLOR PALLETE

Dark green #3c8453
Sandy Beige #bcaa96
Dark gray #222
light gray #d3d4d6
off-white #f4f4f4
*/

/* GLOBAL STYLES
-------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body{
	background: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	line-height: 1.6em;
	margin: 0;
}

p {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 6rem;
	line-height: 1.15;
}

h2 {
	font-size: 3.1rem;
}

h3 {
	font-size: 2rem;
}

/* links */
a {
	color: #3c8453;
}

a:hover {
	color: #bcaa96;
	text-decoration: none;
}

footer a {
	color: #bcaa96;
}

footer a:hover {
	color: #3c8453;
}

.btn {
	background: #3c8453;
	color: #f4f4f4;
	text-decoration: none;
	padding: 3px 10px;
	text-transform: uppercase;
	font-size: 1.3rem;
	display: inline-block;
	padding: 5px;
	letter-spacing: .1em;
	line-height: 1;
	border-radius: 4px;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 1080px;
	padding: 35px;
}

/* HOME
-------------------------------------------------*/
.home {
	background: url(../img/bg-home-office-city.jpg) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.home .content-wrapper {
	flex: 1 0 auto;
}

.content-bg {
	background: rgb(255 255 255 / 0.9);
	padding: 30px;
}

/* RESUME
-------------------------------------------------*/
.resume header::before {
	background: url(../img/bg-home-office-city.jpg) center;
	background-size: cover;
	content: "";
	display: block;
	height: 390px;
}

.resume-section {
	margin-bottom: 50px;
}

.resume-header {
	border-bottom: 2px dashed #d3d4d6;
	padding-bottom: 12px;
}

.download-link {
	position: fixed;
	top: 8px;
	left: 8px;
	font-size: 1.5rem;
}

/* Profile
-------------------------------------------------*/


/* Projects
-------------------------------------------------*/
.project-item {
	display: flow-root;
	margin: 30px 0;
}

.project-item img {
	width: 300px;
	float: left;
	margin-right: 20px;
}


/* Work Experience
-------------------------------------------------*/
.work-item {
	display: grid;
	grid-template-columns: 300px 1fr;
	column-gap: 20px;
	margin: 30px 0;
}

.work-par {
	font-weight: bolder;
}

.work-details p{
	margin: 0;
}

.work-summary p:first-child{
	margin-top: 0;
}
/* Education
-------------------------------------------------*/
.education-item {
	margin: 30px 0;
}

.education-item p {
	margin: 0;
}

/* FOOTER
-------------------------------------------------*/
footer {
	background: #222;
	color: #d3d4d6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

/* footer p {
	padding: 8px 0;
} */

.socials {
	list-style-type: none;
	padding: 0;
}

.socials li {
	align-self: center;
	display: inline-block;
	margin-left: 10px;
	padding-top: 6px;
}

.socials img {
	width: 32px;
}

.socials img:hover {
	opacity: 0.5;
}

